<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>
    <mat-nav-list>
      <mat-list-item>
        <mat-icon mat-list-icon>book</mat-icon>
        <a matLine routerLink="/complaints" routerLinkActive="active">
          Complaints
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</mat-drawer-container>
